.included-with-prime{
    font-size: 1.6em;
    font-weight: 700;
    left: 0px;
    width: 40%;
    margin-bottom: 0.5em;
}

.included-with-prime span{
    margin-left: 0.8em;
}

.play{
    display: flex;
    align-items: center;
}

.more{
    display: flex;
}

.Play-prime{
    display: flex;
    align-items: center;
    left: -10px;
}

.Play-prime-icon-play{
    font-size: 5.5em;
    margin-right: 0.2em;
    transition: 0.2s all;
    z-index: 3;
}

.Play-prime-icon-play:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.Play-prime-icon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.Play-prime h1{
    margin-right: 0.5em;
}

.Play-prime-icon{
    font-size: 2.3em;
    margin: 0 0.2em;
}

/* small (dentro dos filmes) */

.small{
    font-size: 0.5em;
    justify-content: space-between;
    width: 100%;
}

.small .play{
    margin-top: 1em;
}

.small .icon-badge{
    font-size: 2em;
}

.small span{
    margin-left: 0.5em;
}

.small .Play-prime-icon-play{
    font-size: 5.5em;
    color: var(--white);
}

.small h1{
    color: var(--white);
    font-size: 4em;
}

.small .Play-prime-icon{
    color: var(--white);
    font-size: 3.5em;
}

/* responsiveness */

@media screen and (max-width: 1110px) {
    .included-with-prime{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1085px) {
    .included-with-prime{
        font-size: 1.3em;
    }
    .Play-prime-icon-play{
        font-size: 4.5em;
    }
    .Play-prime h1{
        font-size: 2.2em;
    }
    .Play-prime-icon{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 900px) {
    .included-with-prime{
        font-size: 1.1em;
    }
    .Play-prime-icon-play{
        font-size: 3.7em;
    }
    .Play-prime h1{
        font-size: 1.7em;
    }
    .Play-prime-icon{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    .datails-movie{
        display: none;
    }
}