@import '../../index.css';

.sec{
    margin-left: 5vw;
    margin-top: 2em;
}

.sec-title{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.sec-title section{
    display: flex;
}

.sec-title h2{
    color: var(--blue);
    font-size: 2em;
    font-weight: 600;
    margin-right: 0.7em;
}

.sec-title span{
    color: var(--white);
    font-size: 1.8em;
    font-weight: 600;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}