@import '../../index.css';

.sec{
    margin-left: 5vw;
    margin-top: 2em;
    position: relative;
}

.sec-title{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-bottom: 1em;
}

.sec-title section{
    display: flex;
}

.sec-title h2{
    color: var(--blue);
    font-size: 2em;
    font-weight: 600;
    margin-right: 0.7em;
}

.sec-title span{
    color: var(--white);
    font-size: 1.8em;
    font-weight: 600;
}

.sec-movies{
    display: flex;
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.sec-movies::-webkit-scrollbar{
    display: none;
}

.movie-wrapper{
    position: relative;
}

.item{
    display: flex;
    margin: auto;
    box-sizing: border-box;
}

.item-img {
    flex: 0 0 auto;
    border-radius: 10px;
    height: 200px;
    width: 290px;
    object-fit: cover;
    pointer-events: none;
}

.information-onHover{
    display: none;
    position: absolute;
}

.item:hover + .information-onHover{
    display: flex;
}

.information-onHover{
    display: flex;
}

.item:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.btn{
    position: absolute;
    top: 140px;
    font-size: 2.3em;
    transition: 0.7s;
    z-index: 999;
}

.btn:hover{
    transform: scale(1.5);
}

.next-btn{
    right: 0;
}

.prev-btn{
    left: 0;
}