@import '../../index.css';

.movie-banner{
    height: 760px;
    
    margin-right: 50px;
}

.movie-info{
    position: relative;
}

.movie-title{
    position: absolute;
    bottom: 820%;
    right: 90%;
    width: 15%;
}

.amazom-original{
    position: absolute;
    bottom: 1250%;
    right: 87%;
    width: 19%;
}