@import '../../index.css';

.footer{
    align-items: center;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer h1{
    color: var(--gray);
    font-size: 1em;
}

.footer a{
    font-size: 1.5em;
    margin-right: 1em;
}