@font-face {
  font-family: 'AmazonEmberMedium';
  src: local('AmazonEmberMedium') url('./fonts/Amazon-Ember-Medium.ttf');
}

:root{
  --white: #FFFFFF;
  --gray: #aaa;
  --light-gray: #ddd;
  --blue: #00d1ff;
  --dark-gray: #0f171e;
  --background: #00050d;
  --font: 'AmazonEmberMedium';
}